button {
  background-color: green;
  font-size: 16px;
  padding: 15px 30px;
  color: white;
  width: 100px;
}

.decrement {
  background-color: red;
  color: white;
  padding: 15px 30px;
}

.count {
  font-size: 50px;
  padding: 15px 30px;
}

.reset{
  background-color : black;
  width: 200px;
}

body {
  padding: 15px 30px;
}