input[type='text'] {
  width: 40%;
  height: 20%;
  padding: 15px 22px;
  margin: 10px 5px;
  box-sizing: border-box;
}

input[type='password'] {
  width: 40%;
  height: 20%;
  padding: 15px 22px;
  margin: 10px 5px;
  box-sizing: border-box;
}

#btn-id {
  width: 15%;
}
